

.emergancy-req{

    background-color: rgb(207, 6, 6);

    color:white;

    padding: 30px 20px;

    text-align: center;

    margin:auto;

    width:50%;

}

.notice{

    background-color: rgb(103, 4, 4);

    padding:10px;

}

.btn-submit{

    background-color: rgb(207, 6, 6);

}

.form-container h2 {

    color:rgb(207, 6, 6);

}

